<%= form_with(model: @recipe_food, url: recipe_recipe_foods_path, local: true, method: :post) do |form| %>
  <div>
    <%= form.label :quantity %><br>
    <%= form.text_field :quantity, required: true %>
  </div>

  <div>
    <%= form.label :food_id %><br>
    <%= form.collection_select :food_id, Food.all, :id, :name, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>